$gray: #333333;
$orange: #FF8C00;
$light-orange: #FFA500;
$blue: #08B2E3;
$white: #EFE9F4;
$green: #57A773;
$gray-blue: #484D6D;
$light-gray: #A9A9A9;
$lighter-gray: #EDEDED;
$azure: #007FFF;
$turquoise: #1AFFD5;
