/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "base/reset.scss";
@import "base/grid.scss";
@import "base/colors.scss";

body {
  //  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  background: $lighter-gray;
  color: $gray;
}

.content {
  height: 100%;
}

header {
  margin-left: 5%;
}

h1, h5 {
  margin-bottom: 0px;
}

// .button {
//
// }

.or-text {
  margin-top: 5px;
}

.splash-container {
  width: 1230px;
  min-width: 800px;
  margin: 0 auto;
  // margin-left: 25px;
  background: white;
  min-height: 800px;
  padding-top: 0;
}


.splash {
  width: 100%;
  height: 800px;
  // margin: 0 25px;
  background-image: url("http://res.cloudinary.com/dsvfpq1b7/image/upload/v1484688392/concert_zy1rhw.jpg");
  background-size: cover;
  background-position: center;
}

.body-container {
  overflow: auto;
  height: 800px;
  background-image: url("http://res.cloudinary.com/dsvfpq1b7/image/upload/v1484688392/concert_zy1rhw.jpg");
  background-size: cover;
}

.tagline {
  z-index: 5;
  color: $orange;
  font-size: 48px;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  position: relative;
  top: 25%;
  text-align: center;
}

.content-area {
  width: 1230px;
  min-width: 800px;
  margin: 0 auto;
  // padding: 40px;
  padding-bottom: 60px;
  background: white;
  min-height: 800px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form-box {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  text-align: center;
}

.login-submit {
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  background: $orange;
  padding: 5px;
}

.form-title {
  text-align: center;
}

.filter {
  font-weight: bold;
}

hr {
  border-bottom: 1px solid grey;
}

.site-title {
  font-size: 26px;
}

// Navbar

.top-bar {
  width: 100%;
  background: $gray;
  // position: fixed;
}

.top-bar button:hover {
  color: $light-gray;
  border: 1px solid $orange;
}

.login-signup .button:hover {
  // color: $lighter-gray;
  color: $orange;
  border: 1px solid $orange;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 45px;
  background: $gray;
  color: white;
  width: 1230px;
  min-width: 875px;
}

.header-group {
  // margin: 0 auto;
  // display: flex;
  // flex-direction: row;
}

.login-signup {
  // margin-right: 25px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.navbar-button {
  padding: 5px 10px;
  border: 1px solid $white;
  border-radius: 5px;
  margin: auto 5px;
}

.navbar-user {
  padding: 5px 0px;
  margin: auto 5px;
}

.demo-button {
  border: 1px solid $white;
  border-radius: 5px;
  text-align: center;
  background: $orange;
  padding: 5px 10px;
}

.home-button {
  // margin-left: 25px;
  padding: 10px;
  background-color: $orange;
}

.navbar-user-container {
  margin: 0 10px;
}

.navbar-user-container:hover {
  color: $orange;
}

.current-user-thumbnail {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 1px solid $orange;
  border-radius: 5px;
}

.profile-link {
  display: flex;
  flex-direction: row;
}

// END Navbar







// Indexes
.track-item-list {
}

.track-item-artwork {
  width: 200px;
  height: 200px;
}

.track-index {
  // width: 1100px;
  // margin: 0 auto;
  // margin-left: 5%;
  // padding-bottom: 60px;
  padding: 40px;
}

.track-user-nav {
  font-size: 30px;
}

// End Indexes





// Upload Form
.new-track-container {
  width: 100%;
  height: 200px;
}

.new-track-form {
  margin: 50px auto;
  width: 450px;
  text-align: center;
}

.new-track-button {
  border: 2px solid $light-gray;
  background: $orange;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
}

.track-field {
  margin: 10px auto;
}

.new-track-name {
  border-bottom: 1px solid black;
  width: 400px;
}

.upload-form-button {
  border: 2px solid $light-gray;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
}

.new-track-button {
  margin-top: 10px;
}
// End Upload Form

// Player
.playbar-elements-container {
  margin: 0 auto;
  width: 1150px;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.react-player-container {
  margin: 0 50px;
  width: 500px;
}

.playbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 1px solid $light-gray;
  z-index: 500;
  display: flex;
  flex-direction: row;
}

.play-controls {
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prev-button {
  width: 25px;
  height: 20px;
  background-image: url("http://res.cloudinary.com/dsvfpq1b7/image/upload/v1484553465/previous-button_lixeqb.png");
  background-size: cover;
}

.play-pause-button {
  width: 20px;
  height: 25px;
  background-size: cover;
}

.next-button {
  width: 24px;
  height: 20px;
  background-image: url("http://res.cloudinary.com/dsvfpq1b7/image/upload/v1484553465/next-button_mxhubs.png");
  background-size: cover
}

.seek-progress-bar {
  width: 500px;
}

// Input range

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 15px;
  flex: 1;
  background: none;
}
input[type=range]:focus {
  outline: none;
}

/* Webkit */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation-duration: 0.2s;
  transition: all ease 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $orange;
  transition: height 0.2s;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  animation-duration: 0.2s;
  transition: all ease 0.2s;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $orange;
  height: 4px;
}

/* Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $orange;
  transition: height 0.2s;
}
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}

// End input range

// End Player

// Track Item
.track-item {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.fa-play-circle {
  color: $orange;
}

.fa-play-circle:hover {
  color: $light-orange;
}

.stack-3x {
  font-size: 3em;
  position: absolute;
  left: 0;
  // width: 100%;
  text-align: center;
}

.square-background {
  left: 5px;
  top: 10px;
  color: white;
}

.fa-pause-circle {
  color: $orange;
}

.track-item-play-button {
  height: 45px;
}

.track-detail-container {
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.track-item-detail-container {
  margin: 5px 20px 5px 5px;
}

.track-item-detail:hover {
  color: $blue;
}

.username {
  font-size: 14px;
  color: $light-gray;
}

.track-name {

}

.track-item-artwork {
  border: 1px solid $light-gray;
}
// End Track Item





// Track Show
.track-show-container {
  position: relative;
}

.track-show-header {
  width: 1150px;
  height: 340px;
  background: $green;
  padding: 40px;
  padding-top: 25px;
}

.track-show-details {
  display: flex;
  flex-direction: row;
}

.track-show-artwork {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid $light-gray;
}

.track-show-details .username {
  font-size: 18px;
}

.track-show-details .track-name {
  font-size: 28px;
}

.track-show-details .play-button {
   margin-right: 30px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.comment-form {
  // margin: 20px;
  width: 100%;
}

.form-and-photo {
  border: 2px solid $light-gray;
  width: 727px;
  height: 40px;
  display: flex;
  flex-direction: row;
  background: #D3D3D3;
}


.commenter-photo {
  height: 40px;
  width: 40px;
}

.comment-form form {
  position: relative;
  top: 4px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5px;
}

.comment-form-text {
  width: 600px;
  border: 2px solid $light-gray;
  line-height: 25px;
  border-radius: 5px;
  background: white;
  padding: 2px;
}

.comment-form .submit {
  margin: 0 5px;
  border: 2px solid $light-gray;
  border-radius: 5px;
  background: white;
  padding: 2px 4px;
}

.comment-form .submit:hover {
  border: 2px solid $gray;
}

.horizontal-line {
  border: 1px solid $light-gray;
  margin: 20px 0;
}

.comment-item {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.comment-item-photo {
  height: 35px;
  width: 35px;
  border: 1px solid $gray;
}
.comment-item-text {
  margin: 0 20px;
}

.comment-item-username {
  color: $light-gray;
}

.comment-item-username:hover {
  color: $gray;
}
// End Track Show




// User show
.user-show-container {
  position: relative;
}

.user-show-header {
  width: 1150px;
  height: 340px;
  background: $green;
  padding: 40px;
  padding-top: 25px;
}

.user-show-details {
  display: flex;
  flex-direction: row;
}

.user-show-pf-photo {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid $light-gray;
}
// End User show
